# Manual installs for checking: uv

# Required
OPENAI_API_KEY='{your-key}'
TAVILY_API_KEY='{your-key}'

ANTHROPIC_API_KEY='{your-key}'
GOOGLE_API_KEY='{your-key}'

# Optional for evaluation and tracing
LANGSMITH_API_KEY='{your-key}'

#for tracing, comment if not desired
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=learning-path